.text-input-container {
  margin-bottom: 10px;
}

.text-input-container textarea {
  width: 90%;
  min-height: 100px;
  padding: 10px;
  resize: vertical;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}